<h1 class="title">Sistema de Gestion de Pagos </h1>
<nav class="navbar navbar-dark bg-dark">
  <a class="nav-link" routerLink="/students/0" routerLinkActive="active">Agregar Alumnos</a>
  <a class="nav-link" routerLink="/students/" routerLinkActive="active">Buscar Alumnos</a>
  <a class="nav-link" routerLink="/teachers/" routerLinkActive="active">Buscar Maestros</a>
  <a class="nav-link" routerLink="/teachers/0" routerLinkActive="active">Agregar Maestros</a>
  <a class="nav-link" routerLink="/payments" routerLinkActive="active">Pagos</a>
  <a class="nav-link" routerLink="/subcriptions" routerLinkActive="active">Suscripciones</a>
  <a class="nav-link" routerLink="/promotion" routerLinkActive="active">Promociones</a>
  <a class="nav-link" routerLink="/material" routerLinkActive="active">Diciplinas</a>
</nav>
<router-outlet></router-outlet>